@import url("./global/global.css");

.container {
  width: min(100%, 1200px);
  height: 100vh;

  margin: auto;

  display: grid;
  place-items: center;
  grid-template-areas: 
    "header"
    "content"
  ;

  grid-template-columns: 100%;  
  grid-template-rows: min-content auto;
}

header {
  grid-area: header;

  width: 100%;
  height: 100%;

  padding: clamp(1rem, 2vmax, 6rem);

  display: flex;
  --fs-heading: clamp(0.2rem, 2vmax, 2rem);
  
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

header h4 {
  font-size: var(--fs-heading);
}

header span {
  color: var(--accent-light);
}

header img {
  width: var(--fs-heading);
  height: auto;
}

main {
  grid-area: content;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    "card card card"
    "invest invest invest"
    "transactions transactions transactions"
  ;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content; 
}

#cards {
  grid-area: card;

  width: min(100%, 800px);
  margin: auto;

  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.card {
  padding: 1.5rem 2rem;
  
  color: var(--foreground);

  border-radius: 0.25rem;
}

.card.income {
  background: var(--card-income);
}

.card.expense {
  background: var(--card-expense);
}

.card.total {
  background: var(--card-total);
}

.card small {
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;

  font-size: clamp(0.4rem, 4vw, 1.5rem);
}

.card img {
  width: clamp(0.4rem, 4vw, 1.5rem);
  height: clamp(0.4rem, 4vw, 1.5rem);
}

.card p {
  font-size: clamp(0.75rem, 4vw, 1.9rem);
}

#invest {
  grid-area: invest;

  width: min(100%, 800px);
  margin: auto;

  --card-size: clamp(100px, 10vw, 140px);

  display: grid;
  grid-template-columns: repeat(4, var(--card-size));
  grid-template-rows: var(--card-size);

  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#invest a {
  width: 100%;
  height: 100%;

  color: var(--foreground);
  background: var(--card-income);
  
  border-radius: 0.25rem;
  border: 1px solid #44444458;

  transition: border-color 200ms;
}

#invest img {
  width: 3rem;
}

#invest a:hover , #invest a:focus {
  border-color: var(--accent-light);
}

#transactions {
  grid-area: transactions;
  
  width: min(100%, 800px);
  height: 100%;

  margin: auto;
  
  padding: 1rem;

  color: #fff;

  display: flex;
  flex-direction: column;

  row-gap: 1rem;
}

#transactions h3 {
  width: 100%;

  display: flex;
  align-items: center;

  justify-content: space-between;
}

#transactions h3 span {
  color: var(--accent-light);
}

#transactions ul {
  list-style: none;

  width: 100%;

  /* box shadow */
  border-radius: 0.25rem;
  background: var(--card-income);
  
  display: flex;
  flex-direction: column;
  
  row-gap: 1rem;
  padding: 1rem 2rem;
}

#transactions ul li {
  width: 100%;

  margin: auto;

  display: grid;
  place-items: flex-start;
  align-items: center;
  grid-template-areas:
    "img title price"
    "img type  date"
  ;

  grid-template-columns: min-content 2fr 1fr;
  grid-template-rows: min-content;

  column-gap: 1rem;

  padding: 1rem 0;

  border-bottom: 1px solid #44444458;
}

#transactions ul li img {
  grid-area: img;

  padding: 0.6rem;
  background: var(--body-bg);

  border-radius: 0.4rem;
}

#transactions {
  font-size: clamp(1rem, 1vw, 2rem);
}

#transactions ul li h6 {
  font-size: inherit;
}

#transactions ul li p {
  font-size: inherit;
  color: #E6492D;
}

#transactions ul li small {
  font-size: inherit;
  color: #999999;
}

@media (max-width: 1200px) {
  main {
    --main-border-radius: clamp(20px, 2vmax, 30px);
  
    border-start-start-radius: var(--main-border-radius);
    border-start-end-radius: var(--main-border-radius);
  }
}

@media (max-width: 1000px) {
  #cards {
    display: grid;
    grid-template-areas:
      "income expense"
      "total total"
    ;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    place-items: center;

    gap: 1rem;
  }

  .card {
    width: min(100%, 500px);
  }

  .card.income {
    grid-area: income;
 }

  .card.expense {
    grid-area: expense;
  }

  .card.total {
    width: 100%;
    grid-area: total;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: 
      "header"
      "content"
    ;

    grid-template-columns: 100%;
  }

  #invest {
    display: grid;

    grid-template-columns: repeat(2, var(--card-size));
    grid-template-rows: repeat(2, var(--card-size));

    align-items: center;
    justify-content: center;

    gap: 2rem;
  }
}

@media (max-width: 500px) {
  #cards {
    grid-template-areas:
      "income"
      "expense"
      "total"
    ;

    grid-template-columns: 100%;
  }

  #invest {
    display: grid;

    grid-template-columns: repeat(1, var(--card-size));
    grid-template-rows: repeat(4, var(--card-size));

    align-items: center;
    justify-content: center;

    gap: 2rem;
  }
}