@import url("./global/global.css");

.container {
  width: min(100%, 1200px);
  height: 100vh;

  margin: auto;

  display: grid;
  grid-template-areas: 
    ". . ."
    ". content ."
    ". . ."
  ;

  grid-template-columns: auto 90% auto;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  place-items: center;

  background: var(--body-bg);
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: 
      "content"
    ;

    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
}

section {
  grid-area: content;

  width: 100%;
  height: 100%;

  padding: clamp(1rem, 2vmax, 6rem) calc(clamp(1rem, 2vmax, 6rem) * 2);

  display: grid;
  grid-template-areas: 
    ". header ."
    "main . carousel"
  ;

  place-items: center;

  grid-template-columns: 2fr 0.6fr 2fr;
  grid-template-rows: min-content 100%;

  align-items: center;
  justify-content: flex-start;

  background: var(--body-bg-light);
  border-radius: clamp(8px, 1vmax, 12px);
}

header {
  grid-area: header;

  width: 100%;

  margin: auto;

  display: flex;
  align-items: center;

  justify-content: space-between;
}

header span {
  color: white;
}

img {
  width: clamp(1rem, 2vmax, 10rem);
  height: auto;
}

main {
  grid-area: main;

  width: 100%;
  height: 100%;

  color: white;

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: space-around;
}

main article h1 {
  margin-bottom: 1rem;
}

aside {
  grid-area: carousel;
}