[data-theme="dark"] {
  --body-bg: #131322;
  --body-bg-light: #1b1b30;

  --foreground: #fff;
  --foreground-bg: #181829;

  --accent: #2E26D9;
  --accent-light: #5850e8;
  --accent-hover: #231caa;

  --card-income: #1b1b30;
  --card-expense: #c52929;
  --card-total: #49aa26;

  --red: #c52929;
  --soft-red: #E6492D;
  --green: #2a8e1d;
  --soft-green: #41b532;

  --overlay-bg: rgba(0, 0, 0, 0.7);
  --modal-bg: #181b29;
  --select-bg: #202024;
  --input-bg: #282e47;
  
  --dark-blue: #363f5f;
  --header-bg: #2d4a22;
}