[data-theme="light"] {
  --body-bg: #c5c5c5;
  --body-bg-light: #929292;
  
  --foreground: rgb(255, 255, 255);
  --foreground-bg: #b3b3c0;

  --accent: #2E26D9;
  --accent-light: #5850e8;
  --accent-hover: #231caa;

  --card-income: #444453;
  --card-expense: #c52929;
  --card-total: #49aa26;

  --red: #c52929;
  --soft-red: #E6492D;
  --green: #2a8e1d;
  --soft-green: #41b532;

  --overlay-bg: rgba(0, 0, 0, 0.7);
  --modal-bg: #181b29;
  --select-bg: #202024;
  --input-bg: #282e47;
  
  --dark-blue: #363f5f;
  --header-bg: #2d4a22;
}