.popIn {
  animation: FadeInTop 400ms;
}

.popOut {
  animation: FadeOutBottom 400ms;
}

@keyframes FadeInTop {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
  }
  
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes FadeOutBottom {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
  }
}