:root {
  --fs-heading: clamp(1rem, 2vmax, 2rem);
  --fs-paragraph: clamp(0.5rem, 2vmax, 1rem);
  --fs-small: clamp(0.1rem, 2vmax, 0.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  font-size: var(--fs-heading);
}

p {
  font-size: var(--fs-paragraph);
}

small {
  font-size: var(--fs-small);
}