.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* padding: clamp(1rem, 2vw, 2rem); */
}

// import styled from 'styled-components'

// export const Navabar = styled.nav`
//   width: 100%;

//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   /* padding: clamp(1rem, 2vw, 2rem); */
// `
