.homeContainer {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: flex-start;
}

.mainSection {
  opacity: 0;

  width: min(100%, 800px);
  max-width: 1200px;

  margin: auto;
  height: 100%;

  display: grid;

  grid-template-areas:
    'img'
    '.'
    'title'
    'description'
    'progress'
    'button';

  grid-template-columns: 100%;
  grid-template-rows: 250px 10vh 50px 64px repeat(2, min-content);

  place-content: center;

  padding: 2rem clamp(2rem, 12vw, 4rem);

  transition: all 200ms;

  &[data-show="true"] {
    opacity: 1;
  }

  * {
    animation: 1.2s fadeIn ease-out;
  }

  &[data-step="2"] {
    grid-template-rows: min-content 10vh 50px 64px repeat(2, min-content);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
}

.title {
  grid-area: title;

  display: flex;
  align-items: flex-end;

  font-size: clamp(1rem, 0.7802rem + 3vw, 3.125rem);
}

.description {
  grid-area: description;

  margin-top: 1rem;
  line-height: 16px;
}

.progress {
  grid-area: progress;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: max(8vh, 2rem) 0;

  gap: 0.4rem;
}

.imgContainer {
  grid-area: img;

  display: grid;
  place-items: center;

  img {
    width: min(80%, 300px);
    max-width: 350px;
    height: auto;
  }
}

.logoContainer {
  margin: auto;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}

.dot {
  width: 8px;
  height: 8px;

  cursor: pointer;

  &:hover {
    background: #7671E3;
  }

  border-radius: 50%;

  &[data-active="true"] {
    background: #4F47EB;
  }

  &[data-active="false"] {
    background: #fafafa;
  }
}

.buttonContainer {
  grid-area: button;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &[data-step="2"],
  &[data-step="3"] {
    display: grid;
  }

  grid-template-areas:
    'login fingerprint'
    'register register';

  grid-template-columns: 8fr 2fr;
  grid-template-rows: 1fr 1fr;

  gap: 1rem;

  a,
  button {
    width: 100%;
    height: 100%;
  }

  [data-button='register'] {
    grid-area: register;
  }
}

.logoBackground {
  width: 96px;
  height: 96px;

  display: grid;
  place-items: center;

  h1 {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 72px;

    animation: turnOnText 1.5s infinite alternate;

    @keyframes turnOnText {
      0%,
      18%,
      22%,
      25%,
      53%,
      57%,
      100% {
        text-shadow: 0px 0px 20px #ffffff;
      }
  
      20%,
      24%,
      55% {
        text-shadow: none;
      }
    }
  }

  animation: turnOnBackground 1.5s infinite alternate;

  @keyframes turnOnBackground {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      box-shadow: 0px 4px 16px #1526bb;
    }

    20%,
    24%,
    55% {
      box-shadow: none;
    }
  }

  border-radius: 12px;

  padding: 0.4rem;

  background: #4F47EB;

  @media screen and (prefers-reduced-motion) {
    h1 {
      animation: none;
    }

    animation: none;
  }
}