.registerContainer {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: flex-start;
}

.mainSection {
  width: min(100%, 800px);
  max-width: 1200px;

  margin: auto;
  height: 100%;

  display: grid;

  grid-template-areas:
    'topbar'
    'title'
    'form'
    'terms'
    'button';
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, min-content);

  place-content: space-between;

  row-gap: 1rem;

  padding: 2rem clamp(2rem, 12vw, 4rem);
}

.form {
  margin: auto;
    
  width: 80%;
  height: 100%;

  row-gap: 4rem;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  div {
    width: 100%;

    input {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.terms {
  width: 100%;
  text-align: center;

  span {
    position: relative;
    font-weight: bold;
    color: #4F47EB;

    transition: all 200ms;

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 0px;
      height: 1px;
      display: block;
      background: #7671E3;
      transition: all 200ms;
    }

    &:hover {
      color: #7671E3;

      &::after {
        width: 100%;
      }
    }
  }
}

.title {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin: auto;
    text-align: center;
    width: 70%;
  }
}

.pinpad {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 36px);
  grid-template-rows: repeat(4, 36px);

  gap: 42px;
  place-content: center;

  button {
    color: #fafafa;
    background: transparent;
    font-size: clamp(0.2rem, 0.8364rem + 0.9697vw, 2rem);
    transition: all 200ms;

    &:hover,
    &:focus {
      cursor: pointer;
      color: #4F47EB;

      svg {
        stroke: #4F47EB;
      }
    }
  }
}
